.productCard {
    width: 300px;
    height: 346px;
    border: 2px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.imgBackground {
    width: 295px;
    height: 150px;
    background: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}

.productImg {

}

.productDetails {
    margin-left: 20px;
}

.btnAdd {
    position: relative;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    width: 106px;
    height: 40px;
    background: #27ae60;
    border: 2px solid #27ae60;
    box-sizing: border-box;
    border-radius: 8px;
    z-index: 3;
}

.productName {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.productCategory {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
}

.productPrice {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #27ae60;
}

.img1 {
    margin-top: -15px;
    z-index: 1;
    position: relative;
}

.img2 {
    margin-top: -10px;
    z-index: 1;
    position: relative;
}

.img3 {
    margin-top: -5px;
    z-index: 1;
    position: relative;
}

.img4 {
   margin-top: -80px;
   z-index: 1;
   position: relative;
}

.img5 {
    margin-top: -80px;
    z-index: 1;
    position: relative;
 }

.img6 {
    margin-top: -15px;
    z-index: 1;
    position: relative;
 }

@media (min-width: 480px) {
    .productCard {
        margin-bottom: 15px;
    }
}